:root{

  --font-texto:  'Fira Sans', sans-serif;;
  --font-titulo: 'Fira Sans', sans-serif;;
  --color-azulEscuro: #204051;
  --color-verde: #006400;
  
  }
  

* {
  margin: 0;
  paddin: 0;
}
body {
  box-sizing: border-box;
}
.background {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fotoFundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.background .conteudoInicio {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  gap: 5px;
  /* margin-top: 20px; */
}

.background .conteudoInicio .inicialTitulo {
  font-size: 70px;
  font-family: var(--font-titulo);
  font-weight: bold;
  margin-top: 300px;
  background-color:rgb(3,166,166); ;
}
.background .conteudoInicio .botaoInicial {
  background-color: orangered;
  border: 3px solid #bababa;
  border-radius: 50px;
  width: 208px;
  height: 43px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  opacity: 79%;
  /* box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; */
}
.background .conteudoInicio .botaoInicial a{
  text-decoration: none;
  color:white;
  /* padding: 2px; */
  text-align: center;
  /* font-family: 'Playfair Display', serif; */

}

.background .conteudoInicio .botaoInicial:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  width: 218px;
  height: 53px;
  opacity: 100%;
}

.background .conteudoInicio .textoInicio {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-titulo);

  background-color:rgb(3,166,166); ;

}

.tiposViagens .tituloViagens {
  color: #204051;
  font-size: 70px;
  text-align: center;
  padding: 20px;
  font-family: var(--font-titulo);
  font-weight: bold;
}

.tiposViagens .tituloPraia{

    color:#006400;
    font-size:40px;
    font-family: var(--font-titulo);
    font-weight: 400;
    margin-left: 190px;

}

.conteudoPraias{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-family: var(--font-titulo);
    font-weight: 300;
}
.conteudoPraias .imagemPraia{

    margin-left: 103px;
    margin-top: 20px;

}

.conteudoPraias .textoPraia{
    text-align: justify;
    width: 850px;
    height:270px;
    font-size:25px;
    color:#204051;
    margin-top: 60px;
}

.tiposViagens .tituloTuristicos{

    color:#006400;
    font-size:40px;
    font-family: var(--font-titulo);
    font-weight: 400;
    text-align: end;
    margin-right:120px ;
    margin-top: 30px;

}   
.conteudoTuristicos{

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;

}
.conteudoTuristicos .imagemTuristicos{
    margin-right: 103px;
    margin-top: 20px;
}

.conteudoTuristicos .textoTuristicos{
    text-align: justify;
    width: 850px;
    height:270px;
    font-size:25px;
    color:#204051;
    margin-top: 60px;
    font-weight: 500;
    font-family: var(--font-titulo);
    font-weight: 300;
}
.tiposViagens .tituloNegocios{

    color:#006400;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 170px;
    font-family: var(--font-titulo);

}  
.conteudoNegocios{
    display: flex;
    align-items: center;
    gap: 40px;
}
.conteudoNegocios .imagemNegocios{

    margin-left: 103px;
    margin-top: 20px;

}
.conteudoNegocios .textoNegocios{
    text-align: justify;
    width: 850px;
    height:270px;
    font-size:25px;
    color:#204051;
    margin-top: 90px;
    font-family: var(--font-titulo);
    font-weight: 300;
}
.tituloFamilia{

  color:#006400;
  font-size:40px;
  font-weight: 400;
  text-align: end;
  margin-right:120px ;
  font-family: var(--font-titulo);

}   
.conteudoFamilia{

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 40px;

}
.conteudoFamilia .imagemFamilia{
  margin-right: 103px;
  margin-top: 20px;
}

.conteudoFamilia .textoFamilia{
  text-align: justify;
  width: 850px;
  height:270px;
  font-size:25px;
  color:#204051;
  margin-top: 60px;

  font-family: var(--font-titulo);
  font-weight: 300;
}
.tituloRadical{

  color:#006400;
  font-size:40px;
  font-family: var(--font-titulo);
  font-weight: 400;
  margin-left: 170px;
  

}  
.conteudoRadical{
  display: flex;
  align-items: center;
  gap: 40px;
}
.conteudoRadical .imagemRadical{

  margin-left: 103px;
  margin-top: 20px;

}
.conteudoRadical .textoRadical{
  text-align: justify;
  width: 850px;
  height:270px;
  font-size:25px;
  color:#204051;
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: var(--font-titulo);
  font-weight: 300;
}
.tituloBeneficios {
  color: #204051;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  font-family: var(--font-titulo);
}
.beneficiosViagens .imagens{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  
  /* border: 2px solid #204051; */

}

.beneficiosViagens .tituloImagens{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:#204051;
  font-size: 26px;
  /* padding:60px; */
  /* gap: 5px; */
  font-weight: 400;
  font-family: var(--font-titulo);


}

.historia .tituloHistoria{

  color: #204051;
  font-size: 70px;
  text-align: center;
  padding: 30px;
  font-family: var(--font-titulo);
  font-weight: 400;

}

.historia .lado1{

  width: 50%;
  padding: 50px;
  gap: 30px;
  display:flex;
  flex-direction: column;
  justify-content: start;
  

}

.historia .texto1{

  font-size: 26px;
  font-family: var(--font-titulo);
  font-weight: 300;
  color: #204051;
  text-align: left;

}
.historia .imagemL1{

  width: 401px;
  height: 382px;
  margin-top: 50px;
  margin-left: 125px;
}

.historia .lados{

display: flex;

}

.plataforma .tituloPlataforma{

  color: #204051;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  padding: 30px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-titulo);

}

.plataforma .conteudoPlataforma{

  display: flex;
  flex-direction: row;
  align-items: center;

}
.plataforma .textoPlataforma{

  font-size:26px;
  font-family: var(--font-titulo);
  font-weight: 300;
  text-align: left;
  color:#204051;
  margin-left: 150px;

}




