*{
    margin: 0;
    padding:0;

}

body{

    background-image: url("img/backgroundLogin.jpg");
    background-size: cover;
}


.header {
  /* background-color: black; */
  width: 100%;

  padding: 20px 0;
}
.header .container {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header .container li {
  display: inline;
  padding: 0 30px;
}

.header .container a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.header .container .botoes {
  display: flex;
  justify-content: end;
  gap: 40px;
}
  
  .botoes .botao1 {
    border: 1px solid #bababa;
    background-color: transparent;
    border-radius: 20px;
    width: 168px;
    height: 33px;
    font-size: 18px;
    color: white;
  }
  .botoes .botao2 {
    border: 1px solid #bababa;
    background-color: transparent;
    border-radius: 20px;
    width: 168px;
    height: 33px;
    font-size: 21px;
    color: white;
  }
  .botoes .botao1:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .botoes .botao2:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

.conteudo{

    display: flex;
    justify-content: center;

  
}

.box-meio .imagemBox{

    max-height: 250px;
    max-width: 250px;
    margin-left: 130px;
    margin-bottom: 50px;

}

.box-meio{

    background-color: transparent;
    backdrop-filter: blur(6px);
    /* opacity: 40% ; */
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    border: 2px solid #bababa;
    border-radius: 30px;
    align-items: center;
}

.box-meio:hover{

  box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.box-meio .imagemBox{
  margin-right: 130px;

}

.box-meio .tituloLogin{

    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 0px; */
    font-weight: bolder;
}

.box-entradas{

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.box-entradas .texto{

  text-align: center;
  padding: 10px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 25px;

}

.box-meio .email{
    
    width: 240px;
    /* margin-left: 130px; */
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    height: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.box-meio .senha{

    width: 240px;
    /* margin-left: 130px; */
    border-radius: 30px;
    background-color: transparent;
    border: white solid 1px;
    height: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.box-meio .botaoLogin{

  margin-top: 15px;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #204051;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;


}

.box-meio .mensagemErro{

  font-family: Arial, Helvetica, sans-serif;
  color: red;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;

}

.box-meio .recupereSenha{

  font-size: 15px;
  color: white;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: none; */
  
}
